@import url("https://fonts.googleapis.com/css?family=Sriracha");

body {

  font-family: 'Sriracha', sans-serif

}
.comment-container {
  display: grid;
  grid-template-columns: 20px 10px auto 10px 20px 20px;
  grid-template-rows: 80% 20%;
}
.comment-image {
  grid-column-start: 1;
  grid-column-end: 2;
}
.comment-content {
  grid-column-start: 3;
  grid-column-end: 4;
}
.comment-edit {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}
.comment-delete {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}
.comment-time {
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 0.7rem;
}
